
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonts{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
  max-width: 1140px;
  margin: 0 auto;
}

/* shared styles */
.displayFlex{
  display: flex;
}
/* dark-2 */
.text-gray{
color: #424242;
}
/* dark-3 */
.text-light-gray{
  color: #727272;
}
.bg-color{
  background-color: rgba(255,144,14,0.1);
}
.btn-primary{
  background-color: #FF900E;
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 8px;
  padding: 20px 25px;
  border: none;
}
main>section{
margin-top: 130px;
}

/* header styles */

/* navbar styles */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
text-decoration: none;
}
.navbar, .banner, .team{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner contant start */
.banner-content{
  max-width: 868px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;

}
.banner-tittle{
  font-weight: 700p;
  font-size: 4rem;
}
.banner-img{
  width: 100%;
}
/* team and featurs styles */
.team{
  align-items: center;
}
.img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.features-container{
  margin-left: 130px;
  max-width: 530px;
}
.tittle-section{
  font-size: 2rem;
  font-weight: 700;
}
#Quick-list{
  color:#727272;
  font-weight: 500;
}
#Features{
  color:orange;
}
/* some facts features start */
.facts-container  {
  display: grid;
  grid-template-columns: repeat(4,1fr);

}
.fact-card{
  
  border: 2px solid black;
  width: 240px;
  height: 240px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;
}
/* responsive with media query*/
@media screen and (max-width:576px) {
  .navbar, 
  .nav-links,
  .team{
    flex-direction: column;
  }
  .img-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);

  }
  .features-container{

    margin-left: 25px;
  }
  .facts-container{
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 25px;
  }
}
@media screen and (min-width:576px) and (max-width:992px) {
  .team{
    flex-direction: column;
  }
  .features-container{
    margin: 25px auto;
  }
  .facts-container{
   grid-template-columns:repeat(2,1fr);
   gap: 25px;
   justify-items: center;
  }
}